#sair ion-fab-button {
  --background: #000000;
  --box-shadow: none;
  --z-index: 9999999999999 !important;
}

#sair {
  --z-index: 9999999999999 !important;
}

app-pagina-branco {
  --z-index: 9999999999999 !important;
}

