<!--<ion-header>-->
<!--    <ion-toolbar>-->
<!--        <ion-buttons slot="start">-->
<!--            <ion-back-button defaultHref="/"></ion-back-button>-->
<!--        </ion-buttons>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->
<!--    <ion-fab  id="sair" vertical="top" horizontal="left" slot="fixed">-->
<!--        <ion-fab-button>Share</ion-fab-button>-->
<!--        <ion-fab-list side="right">-->
<!--            <ion-fab-button >-->
<!--                <ion-icon name="logo-facebook">sair</ion-icon>-->
<!--            </ion-fab-button>-->
<!--            <ion-fab-button>-->
<!--                <ion-icon name="logo-twitter"></ion-icon>-->
<!--            </ion-fab-button>-->
<!--            <ion-fab-button>-->
<!--                <ion-icon name="logo-youtube"></ion-icon>-->
<!--            </ion-fab-button>-->
<!--        </ion-fab-list>-->
<!--    </ion-fab>-->


