<ion-header>
    <ion-toolbar id="azul-login">
        <div class="ion-text-center">
            <img class="pt20" src="../../../assets/logo1.png">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="inputLogin ion-padding aviso-erro">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-md="12">
                <form id="erro" [formGroup]="form" (ngSubmit)="loginAction()">
                    <ion-item>
                        <ion-label position="stacked">Email*</ion-label>
                        <ion-input class="inputLogin"
                                   name="email"
                                   type="email"
                                   formControlName="email"
                                   clearInput clearOnEdit="false">
                        </ion-input>
                    </ion-item>
                    <div *ngIf="form.controls['email'].dirty && !form.controls['email'].valid">
                        <p *ngIf="form.controls['email'].errors.InvalidEmail">* Email Invalido</p>
                    </div>

                    <ion-item>
                        <ion-label position="stacked">Senha*</ion-label>
                        <ion-input
                                name="senha"
                                formControlName="senha"
                                type="password"
                                clinliearInput clearOnEdit="true">
                        </ion-input>
                    </ion-item>
                    <div *ngIf="form.controls['senha'].dirty && !form.controls['senha'].valid">
                        <p *ngIf="form.controls['senha'].errors">* Mínimo 6 caracteres</p>
                    </div>
                    <ion-row class="ion-justify-content-center social">
                        <ion-col size="4" class="ion-text-center mt15 ">
                            <ion-button shape="round" (click)="loginAction()" type="submit" [disabled]="!form.valid" expand="block">
                                LOGIN
                            </ion-button >
                            <ion-input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" enterkeyhint="go"></ion-input>
                        </ion-col>
                    </ion-row>
                </form>
                <ion-row class="ion-justify-content-center social">
                    <ion-col size="5" class="ion-text-center mt15 ">
                        <h6><a routerLink='/esqueceu-senha' routerDirection="back">Esqueceu Senha ?</a></h6>
                        <h6> Não tem uma conta ? <a routerLink='/cadastro'>Cadastre-se</a></h6>
<!--                        <h6>-->
<!--                            <hr/>-->
<!--                            OU teste -->
<!--                            <hr/>-->
<!--                        </h6>-->

<!--                        <h6>Entre com a rede social</h6>-->

<!--                        <ion-button id="face" color="primary" shape="round" (click)="fbLogin()">-->
<!--                            Facebook-->
<!--                            <ion-icon slot="start" name="logo-facebook"></ion-icon>-->
<!--                        </ion-button>-->
<!--                        <ion-button id="google" color="danger" shape="round" (click)="googleLogin()">-->
<!--                            Google-->
<!--                            <ion-icon slot="start" name="logo-google"></ion-icon>-->
<!--                        </ion-button>-->

                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
