<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar - {{ util.nomeParceiro }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="inputLogin ion-padding aviso-erro">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="12">
        <form id="erro" [formGroup]="form" (ngSubmit)="AtualizarDados()">
          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input name="nome" value="{{ util.nomeParceiro }}"
                       formControlName="nome">
            </ion-input>
          </ion-item>
          <div *ngIf="form.controls['nome'].dirty && !form.controls['nome'].valid">
            <p *ngIf="form.controls['nome'].errors">* Apenas Letras</p>
          </div>

          <ion-item>
            <ion-label position="stacked">Telefone/Celular</ion-label>
            <ion-input type="tel"
                       formControlName="celular"
                       value="{{ util.celularParceiro }}"
                       [brmasker]="{phone: true}">
            </ion-input>
          </ion-item>
          <div *ngIf="form.controls['celular'].dirty && !form.controls['celular'].valid">
            <p *ngIf="form.controls['celular'].errors">* Número Inválido</p>
          </div>

          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input
                    name="email"
                    type="email"
                    value="{{ util.emailParceiro }}"
                    formControlName="email">
            </ion-input>
          </ion-item>
          <div *ngIf="form.controls['email'].dirty && !form.controls['email'].valid">
            <p *ngIf="form.controls['email'].errors.InvalidEmail">* Email Invalido</p>
          </div>

<!--          <ion-item>-->
<!--            <ion-label position="stacked">Senha</ion-label>-->
<!--            <ion-input required name="senha"-->
<!--                       formControlName="senha"-->
<!--                       type="password">-->
<!--            </ion-input>-->
<!--          </ion-item>-->

<!--          <div *ngIf="form.controls['senha'].dirty && !form.controls['senha'].valid">-->
<!--            <p *ngIf="form.controls['senha'].errors">* Minimo 6 caracteres</p>-->
<!--          </div>-->


          <ion-row>
<!--            <ion-col>-->
<!--              <h5>Quero exibir os anúncios em</h5>-->
<!--              <ion-item>-->
<!--                <ion-segment formControlName="tipo_parceiro">-->
<!--                  <ion-segment-button value="movel" (click)="voltaInputs()">-->
<!--                    <img src="../../../assets/icon-car.png">-->
<!--                    <ion-label>Meu Carro</ion-label>-->
<!--                  </ion-segment-button>-->

<!--                  <ion-segment-button value="fixo" (click)="OcultaInputs()">-->
<!--                    <img src="../../../assets/icon-map1.png">-->
<!--                    <ion-label>Minha Empresa</ion-label>-->
<!--                  </ion-segment-button>-->
<!--                </ion-segment>-->
<!--              </ion-item>-->
<!--              <div *ngIf="form.controls['tipo_parceiro'].dirty && !form.controls['tipo_parceiro'].valid">-->
<!--                <p *ngIf="form.controls['tipo_parceiro'].errors">* Obrigatório</p>-->
<!--              </div>-->

<!--              <ng-container *ngIf="!configs.isSignIn">-->
<!--                <ion-row>-->
<!--                  <ion-col size="12">-->
<!--                    <h5 class="mt20">-->
<!--                      Meu negócio é do tipo-->
<!--                    </h5>-->
<!--                  </ion-col>-->
<!--                  <ion-col size="12" class="ion-no-padding">-->

<!--                    <ion-item>-->
<!--                      <ion-label>Categorias</ion-label>-->
<!--                      <ionic-selectable-->
<!--                              formControlName="categorianegocio"-->
<!--                              [(ngModel)]="categorianegocio"-->
<!--                              [items]="categorianegocios"-->
<!--                              itemValueField="token"-->
<!--                              itemTextField="titulo"-->
<!--                              closeButtonText="Sair"-->
<!--                              searchPlaceholder="Pesquisa Categoria"-->
<!--                              [searchFailText]="'Não Encontrado ! Pesquise Novamente.'"-->
<!--                              [canSearch]="true"-->
<!--                              [shouldStoreItemValue]="true"-->
<!--                              (onChange)="portChange($event)">-->
<!--                      </ionic-selectable>-->
<!--                    </ion-item>-->

<!--                    <div *ngIf="form.controls['categorianegocio'].dirty && !form.controls['categorianegocio'].valid">-->
<!--                      <p *ngIf="form.controls['categorianegocio'].errors">* Obrigatório</p>-->
<!--                    </div>-->
<!--                  </ion-col>-->
<!--                </ion-row>-->
<!--              </ng-container>-->

<!--            </ion-col>-->
          </ion-row>


          <ion-row class="ion-justify-content-center social">
            <ion-col size="4" class="ion-text-center mt15 ">
              <ion-button shape="round" type="submit" [disabled]="!form.valid" expand="block"
                          size="large">Atualizar Dados
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
