
ion-segment-button {
  --background: #e7ebed;
  margin-bottom: 0;
}

ion-segment-button.segment-button-checked {
  --background: #e7ebed;
  --background-checked: #286ef2;
  --background-hover: #286ef2;
  --color-checked: #fff;
}
