<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Esqueceu Senha</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="inputLogin ion-padding aviso-erro">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="12">
        <form id="erro" [formGroup]="form" (ngSubmit)="Recuperar()">

          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input name="email" type="email" formControlName="email" value="ender@gmail.com" clearInput clearOnEdit="false">
            </ion-input>
          </ion-item>
          <div *ngIf="form.controls['email'].dirty && !form.controls['email'].valid">
            <p *ngIf="form.controls['email'].errors.InvalidEmail">* Email Invalido</p>
          </div>

          <ion-row class="ion-justify-content-center social">
            <ion-col size="5" class="ion-text-center mt15 ">
              <ion-button shape="round" type="submit" [disabled]="!form.valid" expand="block"
                          size="large">ENVIAR
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
