<ion-header>
    <ion-toolbar id="azul-login-page">
        <div class="ion-text-center">
            <img class="pt8" src="../../../assets/logo1.png">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="home">
            <ion-col>
                <ion-row>
                    <ion-col size="6">
                        <ion-text id="text">
                            Olá, <strong>{{ storageService.nomeParceiro   }}</strong> ! Seja bem vindo.
                        </ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center" size="6" *ngIf="anuncioService.qtd ; else total ">
                        Atualizando anúncio {{ anuncioService.qtd}} aguarde ....
                        <ion-progress-bar type="indeterminate" buffer="0.15"></ion-progress-bar>
                    </ion-col>
                    <ng-template #total>
                        <ion-col size="6" class="ion-text-end">
                            <ng-container *ngIf="anuncioService.statusAnuncioNow ;else atualizado ">
                                SEM ANÚNCIOS
                            </ng-container>
                        </ion-col>
                    </ng-template>
                    <ng-template #atualizado>
                        ANÚNCIOS ATUALIZADOS
                    </ng-template>
                </ion-row>
                <div class="ion-text-center">
                    <h3>Anúncios exibidos</h3>
                    <hr>
                </div>
                <ion-item class="" lines="no-lines">
                    <ion-label>Hoje</ion-label>
                    <ion-badge *ngIf="this.anuncioService.exibicoesHoje;else vazio"
                               slot="end">{{this.anuncioService.exibicoesHoje }}</ion-badge>
                    <ng-template #vazio slot="end">
                        <ion-badge slot="end">0</ion-badge>
                    </ng-template>
                </ion-item>

                <ion-item class="mt10" lines="no-lines">
                    <ion-label>Mês</ion-label>
                    <ion-badge *ngIf="this.anuncioService.exibicoesMes ;else vazio"
                               slot="end">{{this.anuncioService.exibicoesMes }}</ion-badge>
                    <ng-template #vazio slot="end">
                        <ion-badge slot="end">0</ion-badge>
                    </ng-template>
                </ion-item>
            </ion-col>
        </ion-row>


        <ion-row class="ion-justify-content-center social">
            <ion-col size="7" class="ion-text-center" *ngIf="anuncioService.statusAnuncioNow;else iniciar">
                <b>Não existe anúncios neste local ? Buscando novamente....</b>
            </ion-col>
            <ng-template #iniciar>
                <ion-col size="7" class="ion-text-center">
                    <ion-button shape="round" (click)="this.storageService.irPagina('pagina-branco')" expand="block"
                                [disabled]="anuncioService.qtd ">
                        Iniciar Anuncios
                    </ion-button>
                </ion-col>
            </ng-template>
        </ion-row>

    </ion-grid>
</ion-content>
