<ion-tabs>


    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="faturamento">
            <fa-icon [icon]="faDonate" size="2x" ></fa-icon>
            <ion-label>Faturamento</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="anuncio">
            <fa-icon [icon]="faPlayCircle" size="2x"></fa-icon>
            <ion-label>Anuncios</ion-label>
        </ion-tab-button>


        <ion-tab-button tab="perfil">
            <fa-icon [icon]="faUser" size="2x"></fa-icon>
            <ion-label>Perfil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
