/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content #modal_image {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  margin: 0 auto;
}

//
//.img-container {
//  background-size: cover;
//  min-height: 1000px;
//}
.my-custom-class-modal {
  padding:0;
  background: rgba(0, 0, 0, 0.1);
}


.sc-ion-modal-md-h {
  --background: none;
}

.sc-ion-modal-ios-h {
  --background: none;
}

.modal-wrapper {
  background: transparent !important;
}




.p20 {
  padding: 20px;
}


.pt10 {
  padding-top: 10px;
}

.pt8 {
  padding-top: 8px;
}

.pt20 {
  padding-top: 20px;
}

.pt50 {
  padding-top: 50px;
}


.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}


.inputLogin ion-input {
  --background: #e7ebed;
}

.inputLogin ion-label {
  color: #626d84;
  font-size: 14px;
}

#azul-login {
  --background: #ffffff;
  height: 103px;
}


#azul-login-page {
  --background: #ffffff;
  height: 80px;
}

#logout ion-fab-button {
  --background: #00ff15;
  --box-shadow: none;
}


.fontMontserratRegular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

hr {
  width: 32%;
  border: 1px solid #000000;
  display: inline-block;
  background: #0d0d0d;
  font-size: 2px;
  opacity: 1;
  visibility: visible;
}

.aviso-erro #erro div p {
  color: red;
  margin: 0;
  font-size: 0.8rem;
  padding-left: 1.2em;
}

.home {
  color: #626d84;
}

.home h3 {
  font-weight: 700;
  margin: 0 -14px;
}

.home ion-item {
  --background: #e7ebed;
  --border-color: #e7ebed;
  border-radius: 40px;
  color: #626d84;
}

.home ion-badge {
  background: none;
  color: #626d84;
  font-weight: 700;
}

.home .faturamento ion-badge {
  color: #ffffff;
  font-weight: 700;
}

#text, #text1 {
  font-size: 14px;
  font-weight: 700;
}

.home hr {
  width: 100%;
  border: 1px solid #e7ebed;
  background: #e7ebed;
}

.perfil ion-avatar {
  border-radius: 80%;
  width: 137px;
  height: 147px;
}


.modal-wrapper, .inner-scroll {
  background: transparent !important;
}

.label-stacked.sc-ion-label-md-h, .label-floating.sc-ion-label-md-h {
  padding-bottom: 9px !important;
}

//.loadingSemFundo {
//  --height:0;
//  --width:0;
//  --background: none;
//  --background-opacity: 0;
//}


//
//ion-segment-button {
//  --background: #e7ebed;
//  --background-checked:#286ef2;
//  --background-hover: #286ef2;
//  --color-checked: #fff;
//
//}

//
//.social #face{
//  color: #48629b;
//}
//.social #google{
//  background: #dc4b38;
//}

//
//#azul-login .img {
//  height: 67px;
//  width:181px;
//}
