<ion-header>
    <ion-toolbar id="azul-login-page">
        <div class="ion-text-center">
            <img class="pt10" src="../../../assets/logo1.png">
        </div>
        <app-logout></app-logout>
    </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">


    <ion-grid class="perfil">
        <ion-row class="ion-justify-content-center">
            <ion-avatar>
                <img class="pt10" src="../../../assets/user.jpg">
            </ion-avatar>
        </ion-row>

        <ion-col size="12" class="ion-text-center">
            <ion-title size="large">{{ storageService.nomeParceiro }}</ion-title>
            <h6 *ngIf="storageService.emailParceiro"><b>Email:</b> {{ storageService.emailParceiro }}</h6>
            <h6 *ngIf="storageService.celularParceiro"><b>Contato:</b> {{ storageService.celularParceiro }}</h6>
            <h6 *ngIf="storageService.cpfParceiro"><b>Cpf:</b> {{ storageService.cpfParceiro }}</h6>
            <h6 *ngIf="storageService.tipoParceiro"><b>Tipo parceiro:</b> {{ storageService.tipoParceiro }}</h6>
        </ion-col>
    </ion-grid>


<!--    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="editarParceiro()">-->
<!--        <ion-fab-button>-->
<!--            <fa-icon [icon]="faUserEdit" size="1x"></fa-icon>-->
<!--        </ion-fab-button>-->
<!--    </ion-fab>-->

</ion-content>
