<ion-header>
  <ion-header>
    <ion-toolbar  class="ion-text-center">
      <ion-buttons slot="start">
        <ion-back-button (click)="limpaUser()" defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>licença de Uso</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content class="inputLogin ion-padding aviso-erro">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="12">
        <form id="erro" [formGroup]="form" (ngSubmit)="cadastraLicenca()">
          <ion-item>
            <ion-label position="stack">Codigo</ion-label>
            <ion-input class="ion-text-uppercase"
                       name="licenca"
                       type="licenca"
                       formControlName="licenca"
                       [brmasker]="{mask:'0000-0000', len:9, userCaracters: true}"
                       clearInput clearOnEdit="false">

            </ion-input>
          </ion-item>
          <div  *ngIf="form.controls['licenca'].dirty && !form.controls['licenca'].valid">
            <p *ngIf="form.controls['licenca'].errors.InvalidEmail">* Lincenca Invalido</p>
          </div>
          <ion-row class="ion-justify-content-center social">
            <ion-col size="4" class="ion-text-center mt15 ">
              <ion-button shape="round" type="submit" [disabled]="!form.valid" expand="block" >Enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </form>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
