<ion-header>
    <ion-toolbar id="azul-login-page">
        <div class="ion-text-center">
            <img class="pt10" src="../../../assets/logo1.png">
        </div>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="home">
            <ion-col class="mt20">
                <ion-text id="text">
                    Saldo
                    <hr>
                </ion-text>
                <ion-item class="mt10 ion-margin-bottom" lines="no-lines">
                    <ion-label>Dia</ion-label>
                    <ion-badge  *ngIf="this.anuncioService.saldoHoje;else vazio" slot="end">{{this.anuncioService.saldoHoje }}</ion-badge>
                    <ng-template #vazio slot="end"><ion-badge slot="end">0,00</ion-badge></ng-template>

                </ion-item>
                <ion-item class="mt10 ion-margin-bottom" lines="no-lines">
                    <ion-label>Mês</ion-label>
                    <ion-badge  *ngIf="this.anuncioService.saldoMes;else vazio" slot="end">{{this.anuncioService.saldoMes }}</ion-badge>
                    <ng-template #vazio slot="end"><ion-badge slot="end">0,00</ion-badge></ng-template>
                </ion-item>

                <ion-text id="text1">
                    Pagamentos efetuados
                    <hr>
                </ion-text>
                <ion-item class="faturamento mt10" color="success" lines="no-lines">
                    <ion-label>03 de janeiro de 2020</ion-label>
                    <ion-badge slot="end">R$ 1.500,00</ion-badge>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
